<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdeal.incheonerang.testboard.dao.TestboardMapper">

    <select id="selectTestboardList" resultType="TestboardDTO">
        SELECT *
        FROM TEST_TBL
    </select>

    <insert id="insertTestboard" parameterType="TestboardDTO">
        INSERT INTO TEST_TBL
        VALUES
            (
                #{test1},
                SEQ_TEST_2.NEXTVAL,
                SYSDATE
            )
    </insert>

    <update id="updateTestboard">
        UPDATE TEST_TBL
        SET TEST1 = #{test1},
            TEST3 = SYSDATE
        WHERE TEST2 = #{test2}
    </update>

    <delete id="deleteTestboard">
        DELETE FROM TEST_TBL
        WHERE TEST2 = #{test2}
    </delete>

</mapper>